<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgVfU23e5zJ257Ty_zAfr0qGLCu_GB6wg</string>
	<key>GCM_SENDER_ID</key>
	<string>960958133531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minibase.bingo1</string>
	<key>PROJECT_ID</key>
	<string>mimi-base</string>
	<key>STORAGE_BUCKET</key>
	<string>mimi-base.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960958133531:ios:fdad022ecf5703de934fbe</string>
	<key>DATABASE_URL</key>
	<string>https://mimi-base-default-rtdb.firebaseio.com</string>
</dict>
</plist>